@use "../utils" as u;

.contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include u.breakpoint(desktop) {
        flex-direction: row;
        column-gap: 3rem;
        justify-content: space-evenly;
        margin: 4rem;
    }

    @include u.breakpoint(large-desktop) {
        margin: 0 5rem;
        column-gap: 5rem;
    }

    @include u.breakpoint(monitor) {
        margin: 0 10rem;
        column-gap: 15rem;
    }
}
        
.contacts-info-container {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    margin: 2rem 0 1rem 0;

    @include u.breakpoint(desktop) {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}

.contacts-socials-container {
    display: none;

    @include u.breakpoint(desktop) {
        display: flex;
        justify-content: space-between;
    }
}

.contact-logo {
    width: 36px;
    height: 36px;
}
                
.contact-info {
    font-size: 16px;
    color: white;
    font-family: "Montserrat", "Arial";
    font-weight: 300;
    align-self: center;
    margin-left: 1rem;
}

.contact-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.contact-text {
    @include u.breakpoint(desktop) {
        margin-bottom: 5rem;
    }
}