@use "../utils" as u;

.contacts-section {
    margin: 1rem;

    @include u.breakpoint(desktop) {
        margin: 0;
    }
}

.contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include u.breakpoint(desktop) {
        flex-direction: row;
        column-gap: 3rem;
        justify-content: space-evenly;
        margin: 4rem;
    }

    @include u.breakpoint(large-desktop) {
        margin: 4rem 5rem;
        column-gap: 5rem;
    }

    @include u.breakpoint(monitor) {
        margin: 4rem 10rem;
        column-gap: 10rem;
    }
}
        
.contacts-info-container {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    margin: 2rem 0 1rem 0;

    @include u.breakpoint(desktop) {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}

.contacts-socials-container {
    display: none;

    @include u.breakpoint(desktop) {
        display: flex;
        justify-content: space-between;
    }
}

.contact-logo {
    width: 36px;
    height: 36px;

    @include u.breakpoint(desktop) {
        width: 38px;
        height: 38px;
    }

    @include u.breakpoint(large-desktop) {
        width: 40px;
        height: 40px;
    }

    @include u.breakpoint(large-desktop) {
        width: 42px;
        height: 42px;
    }

    @include u.breakpoint(monitor) {
        height: 44px;
        width: 44px;
    }
}
                
.contact-info {
    font-size: 16px;
    color: white;
    font-family: "Montserrat", "Arial";
    font-weight: 300;
    align-self: center;
    margin-left: 1rem;

    @include u.breakpoint(desktop) {
        font-size: 18px;
    }

    @include u.breakpoint(large-desktop) {
        font-size: 20px;
    }

    @include u.breakpoint(monitor) {
        font-size: 22px;
    }
}

.contact-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.contacts-text {
    @include u.breakpoint(desktop) {
        margin-bottom: 5rem;
    }
}

.contacts-desc {
    @include u.breakpoint(desktop) {
        font-size: 20px;
        width: 600px;
    }

    @include u.breakpoint(large-desktop) {
        font-size: 22px;
        width: 700px;
    }

    @include u.breakpoint(monitor) {
        font-size: 24px;
        width: 750px;
    }
}