@use "../utils" as u;

.contacts-section {
    margin: 1rem;
    position: relative;

    @include u.breakpoint(desktop) {
        margin: 0;
        padding-top: 0;
    }
}

.contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include u.breakpoint(desktop) {
        flex-direction: row;
        column-gap: 3rem;
        justify-content: space-evenly;
        margin: 4rem;
    }

    @include u.breakpoint(large-desktop) {
        margin: 4rem 5rem;
        column-gap: 5rem;
    }

    @include u.breakpoint(monitor) {
        margin: 4rem 10rem;
        column-gap: 10rem;
    }
}
        
.contacts-info-container {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    margin: 2rem 0 1rem 0;

    @include u.breakpoint(desktop) {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}

.contacts-socials-container {
    display: none;

    @include u.breakpoint(desktop) {
        display: flex;
        justify-content: space-between;
    }
}

.contact-logo {
    width: 36px;
    height: 36px;

    @include u.breakpoint(desktop) {
        width: 38px;
        height: 38px;
    }

    @include u.breakpoint(large-desktop) {
        width: 40px;
        height: 40px;
    }

    @include u.breakpoint(large-desktop) {
        width: 42px;
        height: 42px;
    }

    @include u.breakpoint(monitor) {
        height: 44px;
        width: 44px;
    }
}
                
.contact-info {
    font-size: 16px;
    color: white;
    font-family: "Montserrat", "Arial";
    font-weight: 300;
    align-self: center;
    margin-left: 1rem;

    @include u.breakpoint(desktop) {
        font-size: 18px;
    }

    @include u.breakpoint(large-desktop) {
        font-size: 20px;
    }

    @include u.breakpoint(monitor) {
        font-size: 22px;
    }
}

.contact-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.contacts-text {
    @include u.breakpoint(desktop) {
        margin-bottom: 5rem;
    }
}

.contacts-desc {
    @include u.breakpoint(desktop) {
        font-size: 20px;
        width: 600px;
    }

    @include u.breakpoint(large-desktop) {
        font-size: 22px;
        width: 700px;
    }

    @include u.breakpoint(monitor) {
        font-size: 24px;
        width: 750px;
    }
}
.scroll-logo-wrapper {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
    transition: 1.5s ease-in-out;
    transform: translateX(-30px);
    
    @include u.breakpoint(laptop) {
        margin-right: 1rem;
        transition: 2s ease-in-out;
        transform: translateX(-120px);
    }

    @include u.breakpoint(desktop) {
        margin-right: 3rem;
        margin-bottom: -1rem;
    }

    @include u.breakpoint(large-desktop) {
        margin-right: 3.5rem;
    }

    @include u.breakpoint(monitor) {
        margin-right: 4rem;
        margin-bottom: 0;
    }

    &.show {
        transform: translate(0);
        opacity: 1;
    }
}


.fa-circle-arrow-up {
    font-size: 2em;
    cursor: pointer;
    color: var(--coral);
    --fa-bounce-height: 13px;
    --fa-bounce-start-scale-x: 1;
    --fa-bounce-start-scale-y: 1; 
    --fa-bounce-jump-scale-x: 1; 
    --fa-bounce-jump-scale-y: 1;
    --fa-bounce-land-scale-x: 1;
    --fa-bounce-land-scale-y: 1;

    @include u.breakpoint(laptop) {
        font-size: 2em;
    }

    @include u.breakpoint(desktop) {
        font-size: 2.5em;
    }
}