@use "../utils" as u;

.hero-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @include u.breakpoint(desktop) {
        height: calc(100vh - 206.6px - 6rem);    // 2 rem for nav and 6 rem total for nav and hero
        justify-content: center;
        row-gap: 5rem;
    }
}

.hero-text-container {
    text-align: center;

    @include u.breakpoint(desktop) {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }  
}

.hero-socials {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;

    @include u.breakpoint(desktop) {
        padding-top: 5rem;
        // row-gap: 3rem;
    }

    @include u.breakpoint(large-desktop) {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 2rem;
    }

    &-container {
        display: flex;
        justify-content: space-evenly;

        @include u.breakpoint(laptop) {
            justify-content: space-around;
            padding: 0 5rem;
        }  

        @include u.breakpoint(large-desktop) {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &-text {
        color: var(--light-yellow);
        text-align: center;

        @include u.breakpoint(large-desktop) {
            text-align: justify;
        }
    }
}

.hero-socials-text {    
    
    @include u.breakpoint(large-desktop) {
        writing-mode: vertical-rl;
        text-orientation: upright;
        display: flex;
        justify-content: space-around;
    }  
}

.hero-stretch-container {
    
    @include u.breakpoint(desktop) {
        height: 100%;
        margin-top: 20rem;
        margin-bottom: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }  

    @include u.breakpoint(large-desktop) {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}