@use "../utils" as u;

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;

    @include u.breakpoint(desktop) {
        min-height: 100vh;
        justify-content: space-evenly;
    }
}

.projects-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    row-gap: 2rem;
    margin-top: 2rem;

    @include u.breakpoint(tablet) {
        column-gap: 2rem;
    }

    @include u.breakpoint(desktop) {
        grid-template-columns: repeat(3, 18rem);
        grid-template-rows: 25rem;   // simulation of card
        row-gap: 2rem;
    }
}

.project-card {
    // width: 300px;
    height: 300px;
    border-radius: 8%;
    box-shadow: 3px 2px 8px var(--dark-yellow);

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}
