@use "../utils" as u;

.projects-container {
    align-items: center;
    padding-bottom: 2rem;

    @include u.breakpoint(desktop) {
        display: flex;
        flex-direction: column;
        min-height: var(--min-height);
        justify-content: space-evenly;
        padding-bottom: 0;
    }
}

// .projects-card-container {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, 20rem);
//     align-content: center;
//     row-gap: 2rem;
//     margin-top: 2rem;

//     @include u.breakpoint(tablet) {
//         column-gap: 2rem;
//     }

//     @include u.breakpoint(desktop) {
//         grid-template-columns: repeat(3, 18rem);
//         grid-template-rows: 25rem;   // simulation of card
//         row-gap: 2rem;
//     }

//     @include u.breakpoint(large-desktop) {
//         column-gap: 5rem;
//     }

//     @include u.breakpoint(monitor) {
//         column-gap: 6rem;
//     }
// }

.projects-card-container {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;

    .project-card {
        flex-shrink: 0;
        scroll-snap-align: start;
    }
}


.project-card {
    // width: calc(100vw - 10rem);
    width: 300px;
    height: 300px;
    border-radius: 8%;
    // box-shadow: 3px 2px 8px var(--dark-yellow);
    // border: 1px solid #37c3ff;
    margin-right: 2rem;

    background-color: #375a7f;

    &__header {
        color: #24292e;
        font-family: "Lato", "Montserrat";
        font-weight: 300;
        text-transform: none;
    }

    // :hover {
    //     box-shadow: 2px 2px 2px 2px var(--dark-yellow);
    // }
    
    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    @include u.breakpoint(laptop) {
        width: 300px;
        height: 300px;
    }
}


.projects-desc {
    @include u.breakpoint(desktop) {
        font-size: 20px;
        width: 750px;
    }

    @include u.breakpoint(large-desktop) {
        font-size: 24px;
        width: 950px;
    }

    @include u.breakpoint(monitor) {
        font-size: 26px;
        width: 1200px;
    }
}