@use "../utils" as u;

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;

    @include u.breakpoint(desktop) {
        min-height: 100vh;
        justify-content: space-evenly;
    }
}

.projects-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    align-content: center;
    row-gap: 2rem;
    margin-top: 2rem;

    @include u.breakpoint(tablet) {
        column-gap: 2rem;
    }

    @include u.breakpoint(desktop) {
        grid-template-columns: repeat(3, 18rem);
        grid-template-rows: 25rem;   // simulation of card
        row-gap: 2rem;
    }

    @include u.breakpoint(large-desktop) {
        column-gap: 5rem;
    }

    @include u.breakpoint(monitor) {
        column-gap: 6rem;
    }
}

.project-card {
    // width: 300px;
    height: 300px;
    border-radius: 8%;
    box-shadow: 3px 2px 8px var(--dark-yellow);

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}


.projects-desc {
    @include u.breakpoint(desktop) {
        font-size: 20px;
        width: 750px;
    }

    @include u.breakpoint(large-desktop) {
        font-size: 24px;
        width: 950px;
    }

    @include u.breakpoint(monitor) {
        font-size: 26px;
        width: 1200px;
    }
}