@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap');

h1, 
h2, 
h3,
h4,
h5, 
h6 {
    color: var(--light-yellow);
    line-height: 1.1;
    margin-top: 0;    // reset rules
    text-transform: uppercase;
} 

h1 {
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-size: 36px;
    font-weight: 500;
}

h3 {
    font-size: 34px;
    font-weight: 400;
}

h5 {
    font-size: 20px;
    font-weight: 400;
}

h6 {
    font-size: 18px;
    font-weight: 600;
}


p {
    color: white;
}

a, 
a:visited, 
a:active {
    text-decoration: none;
    color: #F4D35E;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
}
