@use "../utils/" as u;
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');


h1, 
h2, 
h3,
h4,
h5, 
h6 {
    color: var(--light-yellow);
    line-height: 1.1;
    margin-top: 0;    // reset rules
    text-transform: uppercase;
} 

h1 {
    font-size: 46px;
    font-weight: 600;
    // margin-bottom: 0;
}

// <h2>Hello, I'm William</h2>
h2 {
    font-size: 34px;
    font-weight: 500;

    @include u.breakpoint(laptop) {
        font-size: 42px;
    }

    @include u.breakpoint(desktop) {
        font-size: 48px;
    }

    @include u.breakpoint(large-desktop) {
        font-size: 56px;
    }
}

// <h3>Nice to meet you!</h3>
h3 {
    font-size: 34px;
    font-weight: 400;

    @include u.breakpoint(laptop) {
        font-size: 40px;
    }
    
    @include u.breakpoint(desktop) {
        font-size: 45px;
    }
}

// Follow me
h4 {
    font-size: 18px;
    font-weight: 600;

    @include u.breakpoint(laptop) {
        font-size: 22px;
    }

    @include u.breakpoint(desktop) {
        font-size: 30px;
    }
}

// <h5>Sofware Developer &amp; CS Student</h5>
h5 {
    text-transform: uppercase;
    font-size: 15px;
    color: white;

    @include u.breakpoint(laptop) {
        font-size: 18px;
    }

    @include u.breakpoint(desktop) {
        font-size: 22px;
    }
}

h6 {
    font-size: 12px;
    font-weight: 400;
}


p {
    color: white;
    font-family: "Roboto", "Arial";
    font-weight: 300;
}

a, 
a:visited, 
a:active {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
}