@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap");
body {
  background-color: #07374F;
}

section {
  height: 500px;
  background-color: #07374F;
  font-family: "Arimo", "Arial";
  border: solid black 1px;
}

footer {
  height: 500px;
  background-color: #F4D35E;
}

.hero {
  height: 100vh;
  color: #F4D35E;
  font-size: 18px;
}

.hero .personal-logo {
  height: 90px;
  width: 100px;
}

.hero nav {
  margin: 2.5em 4.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 850px;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 0.8em;
}

.hero nav li {
  text-decoration: none;
  text-transform: uppercase;
}

.hero nav .button-resume {
  width: 130px;
  height: 20px;
  border-radius: 18px;
  padding-top: 0.8em;
  text-align: center;
  margin: 20px;
}

.hero .hero-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4em;
}

.hero .hero-intro .hero-text {
  text-transform: uppercase;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  margin-bottom: 260px;
}

.hero .hero-intro .hero-text h1 {
  font-size: 60px;
  color: #FAF0CA;
  font-weight: 500;
}

.hero .hero-intro .hero-text p {
  font-size: 18px;
  color: white;
  padding-bottom: 1em;
}

.hero .hero-intro .hero-text__subtitle {
  font-style: normal;
  color: #FAF0CA;
  font-size: 45px;
}

.hero .hero-intro .hero-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15em;
  margin-right: 2em;
}

.hero .hero-intro .hero-socials__text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  color: #FAF0CA;
  margin-right: 2em;
  font-size: 25px;
}

.hero .hero-intro .hero-socials__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .hero-intro .hero-socials__logo {
  width: 32px;
  height: 32px;
}

.about-me {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2em 2em;
}

.about-me__pic img {
  margin: 2em;
  width: 100%;
  height: auto;
  border-radius: 50%;
  width: 350px;
  height: 390px;
}

.about-me__name {
  color: #FAF0CA;
  text-align: center;
}

.about-me h2 {
  text-transform: uppercase;
  font-size: 50px;
}

.about-me p {
  font-size: 20px;
}
/*# sourceMappingURL=styles.css.map */