@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap');
$dark-yellow: #F4D35E;
$light-yellow: #FAF0CA;
$coral: #E55C3E;

// body {
//     background-color: #07374F;
// }

section {
    height: 500px;
    background-color: #07374F;
    font-family: "Arimo", "Arial";
    border: solid black 1px;
}

footer {
    height: 500px;
    background-color: $dark-yellow;
}

.hero {
    height: 100vh;
    color: #F4D35E;
    font-size: 18px;
        
    .personal-logo {
        // background-color: $coral;
        height: 90px;
        width: 100px;
    }

    nav {
        margin: 2.5em 4.5em;
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            // width: 1100px;
            width: 850px;
            // background-color: #E55C3E;
            list-style-type: none;
            justify-content: space-around;
            padding-top: 0.8em;
        }
        
        li {
            text-decoration: none;
            text-transform: uppercase;
        }

        .button-resume {
            width: 130px;
            height: 20px;
            border-radius: 18px;
            padding-top: 0.8em;
            // padding-top: 1em;
            text-align: center;
            // background-color: $coral;
            margin: 20px;
        }
    }

    .hero-intro {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0 4em;

        .hero-text {
            text-transform: uppercase;
            justify-content: space-evenly;
            text-align: center;
            margin-bottom: 260px;
            // background-color: $coral;

            h1 {
                font-size: 50px;
                color: $light-yellow;
                font-weight: 500;
                margin: 0;
            }

            p {
                font-size: 15px;
                color: white;
            }

            &__subtitle {
                font-style: normal;
                color: $light-yellow;
                font-size: 40px;
            }
        }

        .hero-pic {
            margin-bottom: 260px;
            // background-color: #E55C3E;
            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
                width: 350px;
                height: 390px;
            }
        }

        .hero-socials {
            // background-color: $coral;
            display: flex;
            margin-bottom: 15em;
            margin-right: 2em;

            &__text {
                writing-mode: vertical-rl;
                text-orientation: upright;
                text-transform: uppercase;
                color: $light-yellow;
                margin-right: 2em;
                font-size: 20px;
            }

            &__logos {
                // background-color: #0743;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &__logo{
                width: 24px;
                height: 24px;
            }
        }

        .hero-socials .hero-text {
            margin-bottom: 300px;
        }
    }
}